<h2 class="page-header">Add Expenses</h2>
<div class="box">
  <div class="dropdown item1">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      {{ selectedCategory }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let row of categories">
        <a href="javascript:void(0)" (click)="setCategory(row['title'])">
          {{ row["title"] | uppercase }}
        </a>
      </li>
    </ul>
  </div>
  <div class="item2">
    <label>Date</label>
    <input type="text" autocomplete="off" class="form-control" name="datepicker" id="datepicker1" />
  </div>
  <div class="item3">
    <label>Cost</label>
    <input
      autocomplete="off"
      type="number"
      [(ngModel)]="cost"
      name="username"
      class="form-control"
    />
  </div>
  <div class="item4">
    <button type="button" class="btn btn-primary"(click)="addExpenses()">Submit</button>
  </div>
</div>
<br>
<br>
<h2>Current Month Expenses</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category Name</th>
        <th scope="col">Cost</th>
        <th scope="col">Month</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let row of expenses; let i = index;">
        <th scope="row">
          {{i+1}}
        </th>
        <td>
          {{row['title']| uppercase}}
        </td>
        <td>
          {{row['cost']}}
        </td>
        <td>
          {{row['month']}}
        </td>
        <td>
          {{row['year']}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
