<h2 class="page-header">Add Expenses</h2>
<div class="box">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
  <input type="text" class="form-control" name="datepicker" id="datepicker" />
  <input type="text" [(ngModel)]="cost" name="username" class="form-control">
</div>
